/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #fff;
}

.maincont {
    margin-top: 50px;
    margin-bottom: 50px;
    background : #fff;
}

.yes {
    text-align: center;
    background: url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJUlEQVQImU3IsQ0AAAiEQOb4md0ZC2PyBcVBxA9HGpEbj4g0Ii6g3CNJ18xJlAAAAABJRU5ErkJggg==
    ) repeat;
}

.no {
    text-align: center;
    color: #fff;
    background: url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKElEQVQImWO4ws7+H4b/y8v/Z0DmXGFnhwjAOFfY2f8zIHOusLP/BwAr8h99Q7whpQAAAABJRU5ErkJggg==
    ) repeat;
}

#dtable {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
}

#dtable thead tr {
    color: #fff;
    background-color: #222;
}

#dtable thead th {
    text-align: center;
}

#dtable tbody td:first-of-type {
    text-align: center;
}

#dtable tbody td {
    border: 1px solid #000;
}

#dtable tbody tr:nth-of-type(even) {
    background-color: #e2e2e2;
}

/* SIDEBAR TESTING */

#wrapper {
    padding-left: 170px;
    transition: all 0.4s ease 0s;
    /*margin-top: -10px;*/
}

#sidebar-wrapper {
    margin-left: -170px;
    left: 170px;
    width: 170px;
    background: #fff;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    background-image: url("../images/bgside.png");
    /*background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%);*/
}

#page-content-wrapper {
    width: 100%;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 170px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 15px;
}

.sidebar-nav li {
    width: 170px;
    height: 40px;
    padding-left: 15px;
}

.norm:hover {
    /*background: #4f85bb; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #4f85bb 0%, #4f85bb 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f85bb), color-stop(100%,#4f85bb)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #4f85bb 0%,#4f85bb 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #4f85bb 0%,#4f85bb 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #4f85bb 0%,#4f85bb 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  #4f85bb 0%,#4f85bb 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 ); /* IE6-9 */
    background-image: url(../images/nav-arr-blu.png);
}

.sidebar-nav li a {
    display: block;
    height: 40px;
    width: 170px;
    color: #fff;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
}

.sidebar-nav li a:hover {
    color: #fff;
}

.sidebar-nav nav hr {
    padding: 10px;
    margin-top: 50px;
}

/*.delete:hover {
    background-image: url("../images/nav-arr-red.png");
}*/

footer {
    z-index: 1000;
    background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%);
    width: 100%;
    border-top: 1px solid #000;
    color: #fff;
}

footer p {
    font-size: 0.6em;
}

.spacer {
    padding-right: 50px;
    height: 20px;
    border-bottom: 1px solid #fff;
}

.striped tbody tr:nth-of-type(even) {
    background-color: #dfdfdf;
}

/*table tbody tr:hover {
    background: linear-gradient(to bottom,  #4f85bb 0%,#4f85bb 100%);
    color: #fff;
    cursor: zoom-in;
}*/

.linkact {
    background-image: url("../images/nav-arr-blu.png");
}

table tbody td,tr {
    /*text-align: center;*/
}

table .glyphicon {
    margin-left: 5px;
}

/*-------------TESTING-----------*/

/*.testtable tbody tr td:first-of-type {
    transform-origin:50% 50%;
    transform: rotate(90deg);
}*/

.testtable tr:hover {
    background: linear-gradient(to bottom,  #4f85bb 0%,#4f85bb 100%);
    color: #fff;
}

/*.testtable td:hover {
    background: linear-gradient(to bottom,  #af85bb 0%,#af85bb 100%);
    color: #fff;
}*/

/*.testtable td:hover:after {
    content: "TEST";
}*/


.testtable tbody td {
    border : 1px solid #000;
    font-size: 0.9em;
}

.testtable thead th {
    border: 1px solid #000;
    font-size: 0.9em;
}

.testtable thead tr {
    background: linear-gradient(to bottom,  #4f85bb 0%,#4f85bb 100%);
    color: #fff;
}

/*.testtable tbody tr:nth-child(even) {
    background: #c4c4ff;
}*/

.day {
    transform-origin:50% 50%;
    transform: rotate(90deg);
}

.terrainOpts {
    float: right;
}

.playerControls {
    float: right;
}

.playerHighlighted {
    background-color: #eea236;
}

#help-wrapper {
    /*background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%);*/
    color: #fff;
    padding-left: 40px;
}

#help-wrapper ul {
    list-style-type: none;
}

.ui-progressbar {
    position: relative;
}
.progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}